<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="ERROR">
    <Properties>
        <property name="LOG_FOLDER">log</property>
        <property name="pattern_cmd">%d{HH:mm:ss} %-5level %logger{5} - %m%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] [%M] [%L] %-5level %logger{5} - %m%n</property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_cmd}"/>
        </Console>

        <RollingFile name="TxtFile" fileName="${LOG_FOLDER}/log.txt" append="true"
                     filePattern="${LOG_FOLDER}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.txt">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="STDOUT" level="debug"/>
            <AppenderRef ref="TxtFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>