<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">

    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n</property>
        <property name="pattern_console">%d{HH:mm:ss} %-5level %logger{5} - %msg%n</property>
    </Properties>

    <ThresholdFilter level="trace"/>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>

        <File name="textFile" fileName="logs/log.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="Log_Console" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Log_File" level="trace" additivity="false">
            <AppenderRef ref="textFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="textFile"/>
            <AppenderRef ref="Console" level="trace"/>
        </Root>
    </Loggers>

</Configuration>