<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <property name="pattern_cmd">%d{HH:mm:ss} %-5level %logger{5} - %m%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] [%M] [%L] %-5level %logger{5} - %m%n</property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_cmd}"/>
        </Console>

        <RollingFile name="FileRolling" fileName="logs/library.txt" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}.txt">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="STDOUT" level="debug"/>
            <AppenderRef ref="FileRolling" level="debug"/>
        </Root>
    </Loggers>
</Configuration>